<ion-view title="CFAS Phone Directory" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container10">
            <p id="cFASPhoneDirectory-markdown10" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Americable</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list14" class=" ">
                <ion-item id="cFASPhoneDirectory-list-item23" href="tel:0956-50-2172" class="  ">Americable</ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container3">
            <p id="cFASPhoneDirectory-markdown3" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Auto</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list6" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item3" href="tel:0956-50-3977">Auto Hobby Shop
                    <span class="item-note">W-F 1600-2000/Sat 1200-2000</span>
                    <i class="icon ion-android-car"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item1" href="tel:0956-50-3607">Auto Service Center
                    <span class="item-note">Mon-Sat 0900-1700</span>
                    <i class="icon ion-android-car"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item2" href="tel:0956-3576">Auto Rent-A-Car
                    <span class="item-note">Mon-Sat 0900-1700</span>
                    <i class="icon ion-android-car"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container11">
            <p id="cFASPhoneDirectory-markdown11" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Banks</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list15" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item24" href="tel:0956-50-3963">Community Bank
                    <span class="item-note">M-F 0900-1700</span>
                    <i class="icon ion-cash"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item25" href="tel:0956-50-3607">Navy Federal
                    <span class="item-note">M-F 0900-1700</span>
                    <i class="icon ion-cash"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container2">
            <p id="cFASPhoneDirectory-markdown2" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Barber/Beauty Shop</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list12" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item5" href="tel:0956-50-3856">Barber/Beauty Shop
                    <i class="icon ion-scissors"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container7">
            <p id="cFASPhoneDirectory-markdown7" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Base Operator</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list10" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item14" href="tel:0956-50-1110">Base Operator
                    <i class="icon ion-information-circled"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container4">
            <p id="cFASPhoneDirectory-markdown4" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Chaplain's Office</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list16" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item27" href="tel:0956-50-8945">Hario
                    <i class="icon ion-ios-home-outline"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item30" href="tel:0956-50-3380">Main Base
                    <i class="icon ion-ios-home-outline"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container5">
            <p id="cFASPhoneDirectory-markdown5" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>CDC (Child Development Center)</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list8" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item8" href="tel:0956-50-8842">Hario
                    <i class="icon ion-android-person"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item9" href="tel:0956-50-8842">Main Base
                    <i class="icon ion-android-person"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container6">
            <p id="cFASPhoneDirectory-markdown6" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Clubs</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list9" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item10" href="tel:0956-50-8842">CPO Club
                    <i class="icon ion-android-bar"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item12" href="tel:0956-50-2980">Galaxy
                    <i class="icon ion-android-bar"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item13" href="tel:0956-50-3965">Harbor View
                    <i class="icon ion-android-bar"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container12">
            <p id="cFASPhoneDirectory-markdown12" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Commander, FAS</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list17" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item33" href="tel:0956-50-3444">Commander, FAS
                    <i class="icon ion-android-person"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container13">
            <div class="item item-body " id="cFASPhoneDirectory-list-item-container9">
                <p id="cFASPhoneDirectory-markdown9" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                    <strong>Dental</strong>
                </p>
                <ion-list id="cFASPhoneDirectory-list13" class=" ">
                    <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item17" href="tel:0956-50-3965">Dental
                        <span class="item-note">M-F 0730-1600</span>
                        <i class="icon ion-ios-medkit-outline"></i>
                    </ion-item>
                </ion-list>
            </div>
            <p id="cFASPhoneDirectory-markdown13" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>CMC, FAS</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list18" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item35" href="tel:0956-50-3521">Commander, FAS
                    <i class="icon ion-android-person"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container14">
            <p id="cFASPhoneDirectory-markdown14" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>FFSC Recption/Info</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list19" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item36" href="tel:0956-50-3604">Information
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container42">
            <p id="cFASPhoneDirectory-markdown53" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Fire Department</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list47" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item89" href="tel:0956-50-2142">Information
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item90" href="tel:0956-50-2161">Fire
                    <i class="icon ion-fireball"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item91" href="tel:0956-50-2163">Fire
                    <i class="icon ion-ios-telephone-outline"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container16">
            <p id="cFASPhoneDirectory-markdown16" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>FMAT</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list21" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item40" href="tel:0956-50-3627">Information
                    <i class="icon ion-information"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container17">
            <p id="cFASPhoneDirectory-markdown17" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Food Court</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list22" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item41" href="tel:0956-50-3478">Bayside
                    <i class="icon ion-fork"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item42" href="tel:0956-50-8701">Hario
                    <i class="icon ion-fork"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container22">
            <p id="cFASPhoneDirectory-markdown22" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Gym</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list27" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item51" href="tel:0956-50-3595">Fleet Gym
                    <i class="icon ion-ios-basketball"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item52" href="tel:0956-50-8701">Hario
                    <i class="icon ion-ios-basketball"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container30">
            <p id="cFASPhoneDirectory-markdown30" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>ID Card</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list35" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item69" href="tel:0956-50-3906">ID Car
                    <i class="icon ion-card"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item70" href="tel:0956-50-3579">ID Car
                    <i class="icon ion-card"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container18">
            <p id="cFASPhoneDirectory-markdown18" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Housing</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list23" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item43" href="tel:0956-50-3402">Housing Office
                    <i class="icon ion-android-home"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container19">
            <p id="cFASPhoneDirectory-markdown19" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Human Resource Office</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list24" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item45" href="tel:0956-50-3883">Human Resource
                    <span class="item-note">M-F 0800-1600</span>
                    <i class="icon ion-android-people"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container23">
            <p id="cFASPhoneDirectory-markdown23" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Library</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list28" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item53" href="tel:0956-50-3593">Library
                    <i class="icon ion-ios-book"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container43">
            <p id="cFASPhoneDirectory-markdown54" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Medical</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list48" class=" ">
                <ion-item class="item-icon-right balanced  " id="cFASPhoneDirectory-list-item94" href="tel:0956-50-8872">Appointment
                    <i class="icon ion-ios-medkit"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item93" href="tel:0956-50-2500">Duty Nurse
                    <i class="icon ion-ios-medkit"></i>
                </ion-item>
                <ion-item class="item-icon-right assertive  " id="cFASPhoneDirectory-list-item92" href="tel:0956-50-0911">Emergency Care
                    <i class="icon ion-ios-medkit"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item95" href="tel:0956-50-2550">Nurse Advice (24/7)
                    <i class="icon ion-ios-medkit"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item96" href="tel:0956-50-4689">Pharmacy Refill
                    <span class="item-note">Automated line</span>
                    <i class="icon ion-ios-medkit"></i>
                </ion-item>
                <ion-item class="item-icon-right assertive  " id="cFASPhoneDirectory-list-item97" href="tel:080-1721-7310">Doctor On Call
                    <span class="item-note">weekends/holidays/after hour</span>
                    <i class="icon ion-ios-medkit"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container24">
            <p id="cFASPhoneDirectory-markdown24" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>MWR/ ITT</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list29" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item54" href="tel:0956-50-1813">MWR
                    <i class="icon ion-android-bus"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item56" href="tel:0956-50-3930">MWR
                    <i class="icon ion-android-bus"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container25">
            <p id="cFASPhoneDirectory-markdown25" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Navy College/Learning Center</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list30" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item57" href="tel:0956-50-3511">Navy College
                    <i class="icon ion-university"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container20">
            <p id="cFASPhoneDirectory-markdown20" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Navy Legal Service Services</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list25" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item46" href="tel:0956-50-3347">Navy Legal Service
                    <span class="item-note">M-T 0900-1600/F0900-1200</span>
                    <i class="icon ion-document-text"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container26">
            <p id="cFASPhoneDirectory-markdown26" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Navy/Marine Corps Relief Society</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list31" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item59" href="tel:0956-50-3347">Navy/Marine Corps Relief Society
                    <i class="icon ion-help-buoy"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container21">
            <p id="cFASPhoneDirectory-markdown21" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Navy Exchange</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list26" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item47" href="tel:0956-50-8850">Hario
                    <i class="icon ion-ios-pricetags"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item50" href="tel:0956-50-3510">Main Base
                    <i class="icon ion-ios-pricetags"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item49" href="tel:0956-50-3505">Depot
                    <i class="icon ion-hammer"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item48" href="tel:0956-50-3545">Uniform Shop
                    <i class="icon ion-tshirt"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container27">
            <p id="cFASPhoneDirectory-markdown27" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>NCIS</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list32" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item63" href="tel:0956-50-3621">NCIS
                    <i class="icon ion-android-hand"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container28">
            <p id="cFASPhoneDirectory-markdown28" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Personal Financial Management</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list33" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item64" href="tel:0956-50-5127">Personal Financial Management
                    <i class="icon ion-cash"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container29">
            <p id="cFASPhoneDirectory-markdown29" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Personal Property</strong>
            </p>
            <ion-list id="cFASPhoneDirectory-list34" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item65" href="tel:0956-50-5127">Personal Property
                    <span class="item-note">M-F 0800-1600</span>
                    <i class="icon ion-ios-printer"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item66" href="tel:0956-50-3418">Shipment Status Check
                    <span class="item-note">M-F 0800-1600</span>
                    <i class="icon ion-ios-printer"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item67" href="tel:0956-50-3378">Pick-up of packing materials
                    <span class="item-note">M-F 0800-1600</span>
                    <i class="icon ion-ios-printer"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container31">
            <p id="cFASPhoneDirectory-markdown31" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Post Office</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown32" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list36" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item71" href="tel:0956-50-3426">Hario
                    <span class="item-note">M-F1100-1800/S1000-1200</span>
                    <i class="icon ion-android-mail"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item74" href="tel:0956-50-8830">Main Base
                    <i class="icon ion-android-mail"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container32">
            <p id="cFASPhoneDirectory-markdown33" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>PSD</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown34" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list37" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item75" href="tel:0956-50-6953">PSD
                    <i class="icon ion-ios-paper"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container33">
            <p id="cFASPhoneDirectory-markdown35" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Space A Flight Info</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown36" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list38" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item77" href="tel:0956-50-2422">Space A Flight Info
                    <i class="icon ion-android-plane"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container34">
            <p id="cFASPhoneDirectory-markdown37" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>SATO</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown38" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list39" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item78" href="tel:0956-50-3488">SATO
                    <i class="icon ion-android-plane"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container35">
            <p id="cFASPhoneDirectory-markdown39" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Security</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown40" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list40" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item79" href="tel:0956-50-2382">Security
                    <i class="icon ion-android-lock"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container36">
            <p id="cFASPhoneDirectory-markdown41" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Sexual Assault Victim Intervention</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown42" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list41" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item80" href="tel:0956-50-5124">Sexual Assault Victim Intervention
                    <i class="icon ion-android-person"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item82" href="tel:0956-50-3121">Sexual Assault Victim Intervention
                    <i class="icon ion-android-person"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container41">
            <p id="cFASPhoneDirectory-markdown51" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Theatre</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown52" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list46" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item88" href="tel:0956-50-3822">Showboat Theatre
                    <i class="icon ion-ios-film"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container38">
            <p id="cFASPhoneDirectory-markdown45" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>USO</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown46" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list43" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item84" href="tel:0956-50-3873">USO
                    <i class="icon ion-ios-flag"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container39">
            <p id="cFASPhoneDirectory-markdown47" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>Veterinary Services</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown48" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list44" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item85" href="tel:0956-50-3585">Veterinary Services
                    <i class="icon ion-ios-paw"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body " id="cFASPhoneDirectory-list-item-container40">
            <p id="cFASPhoneDirectory-markdown49" style="margin-top:0px;color:#000000;text-align:center;" class=" ">
                <strong>WIC-O</strong>
            </p>
            <p id="cFASPhoneDirectory-markdown50" style="margin-top:0px;color:#000000;text-align:center;" class=" "></p>
            <ion-list id="cFASPhoneDirectory-list45" class=" ">
                <ion-item class="item-icon-right  " id="cFASPhoneDirectory-list-item86" href="tel:0956-50-8781">WIC
                    <i class="icon ion-social-reddit-outline"></i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>